# data and labeling files
dataset/
label_work/
raw_images/


# local tools
tools/*.exe

# python cache
__pycache__/
*.pyc

# local env/cache
.venv/
.env/
.cache/

# training artifacts
runs/detect/runs/
runs/detect/val*/
yolo11n.pt
yolo11s.pt
yolo26n.pt

# optional local files
*.engine
yolo_convert_engine.py
classes.txt
scripts/

# IDE
.vscode/

# third-party dependencies
detect/third_party/

# local build outputs
detect/build/

# temporary ONNX export experiments
rm_armor_yolo11s_best_opencv.onnx
rm_armor_yolo11s_best_opencv_opset11.onnx

# local test videos
detect/assets/*.mp4
detect/assets/*.avi
detect/assets/*.mov
detect/assets/*.mkv